* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
ul li a {
  color: #4e4a50;
  display: block;
  font-family: 'Roboto';
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
ul[btn-menu] {
  background-color: #eae8ea;
  width: 40%;
}
ul[sub-menu] {
  display: none;
}
ul li a:hover {
  background-color: #1d93d3;
  color: #fff;
}
ul li a[active] {
  background-color: #1d93d3;
  color: #fff;
}
