ul(btn-menu)
  li 
    a(href="#") Equipos
      ul(sub-menu)
        li
          a(href="#") Impresoras Kyoceras B/N
        li
          a(href="#") Impresoras Kyoceras a color
        li
          a(href="#") Multifuncionales Kyocera B/N
        li
          a(href="#") Multifuncionales Kyocera a color
  li  
    a(href="#") Suministros
      ul(sub-menu)
        li
          a(href="#") Toner (TK)
            ul
              li
                a(href="#") Toner Kyocera / Impresoras B/N
        li
          a(href="#") Kit de Mantenimiento (MK)
        li
          a(href="#") Unidades independientes (DK/DV/FK)    